/* src/components/ContactList/ContactList.module.css */
.list {
  list-style: none;
  padding: 0;
}

.listItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.button {
  padding: 5px;
  cursor: pointer;
}